/* Tobiasz Witalis, Wojciech Wielochowski, Jakub Sosna */

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#properties_panel {
    background-color: skyblue;
    padding: 1em;
}

#line_width_label,
#opacity_label {
    font-weight: bold;
}